
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_OtelLayout.cshtml";
}

<h2>Burası 2 numaralı ındex sayfası</h2>

<a href="/Default/Index/" class="btn btn-warning">Index sayfasını aç</a>
<br /><br />
<a href="/Default/Index3/" class="btn btn-danger">Index 3 sayfası</a>