
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_OtelLayout.cshtml";
}

<h2>Burası index sayfası</h2>
<p>merhaba arkadaslar</p>

<a href="/Default/Index2/" class="btn btn-primary">Index2 sayfasını aç</a>